{% if sentiment_distribution %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sentiment</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Positive</td>
                <td>{{ sentiment_distribution.positive }}</td>
            </tr>
            <tr>
                <td>Neutral</td>
                <td>{{ sentiment_distribution.neutral }}</td>
            </tr>
            <tr>
                <td>Negative</td>
                <td>{{ sentiment_distribution.negative }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
